html, body, #bash
{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: #FFFFFF;
}

html, body
{
    background: #FAFAFA;
}

#contentPaper
{
    background: #FAFAFA;
}

.logo
{
    width: 340px;
    height: 101px;
    margin: 30px auto 0px;
    background-image: url(./imgs/wb_logo.png);
    background-size: cover;
}